.nav {
  padding: 25px 25px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main--hero-image {
  margin: 30px 0;
  width: 80%;
  margin: 35px auto;
}

.main--heading {
  margin-bottom: 0px;
  margin-left: 25px;
}

.main--text {
  margin-top: 15px;
  margin-left: 25px;
}


